#Django framework
django>=3.2.24

#Django REST framework
djangorestframework==3.15.2

#Django Filter
django-filter==2.4.0

#django-cors-headers
django-cors-headers==3.7.0

#Django LDAP Auth
django-auth-ldap==2.3.0

